/* Title */
.title-container {
  text-align: center;
  position:static;
  top: 20%; /* Ajusta la posición para que esté un poco más arriba de la mitad de la pantalla */
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
  transform: translateY(-50%); /* Ajusta la posición vertical para estar centrado */
}

.title {
  font-size: 2.5rem;
  color: #000000;
}

.dynamic-line {
  content: '';
  display: block;
  width: 10%;
  max-width: 1000px;
  height: 5px;
  background: linear-gradient(90deg, #3498db, #2980b9);
  margin: 0 auto 30px auto; /* 30px de espacio debajo de la línea */
  border-radius: 5px;
  animation: pulseLine 2s ease-in-out infinite;
}

/* Buscador más separado del título */
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto; /* 30px margen superior desde línea */
  max-width: 500px;
}

#party-select {
  padding: 12px 12px;
  width: 150%;
  border: 2px solid #0921ad;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  color: #000000; /* ← Esto asegura que el texto sea negro */
  background-color: #ffffff; /* ← Asegura que no tenga fondo raro */
}
